In [1]:
# philip walsh
# philipwalsj.ds@gmail.com
# 2019-12-21
# Digit Recognizer from https://www.kaggle.com/c/digit-recognizer/data
# my first pass at this received a 0.96557, with knn classifer, non normalized data, just the grey scale 0-256
# this pass is attempting to help the knn classifer by normalizing the data , 0-1.  
# its supposed to make a difference when dealing with euclidean distances.

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn import metrics

In [6]:
import winsound
def alert_me(num_beeps):
    frequency = 2500  # Set Frequency To 2500 Hertz
    duration = 500  # Set Duration To 1000 ms == 1 second

    for n in range(1,num_beeps+1):
        winsound.Beep(frequency, duration)

In [7]:
train_data = pd.read_csv("excluded/train.csv")

In [8]:
train_data.head()

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
label_df=train_data[['label']]

In [10]:
train_data.drop('label', axis=1, inplace=True)

In [11]:
train_data = train_data/256

In [12]:
train_data.head()

,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [13]:
label_df['label'].head(4)

0    1
1    0
2    1
3    4
Name: label, dtype: int64

In [14]:
# Get rid of $ and , in the SAL-RATE, then convert it to a float
def char_to_ascii(any_char):
    return ord(str(any_char))

In [15]:
# Get rid of $ and , in the SAL-RATE, then convert it to a float
def ascii_to_char(any_num):
    return chr(any_num)

In [16]:
ascii_df = label_df['label'].apply(char_to_ascii)

In [17]:
ascii_df.head(4)

0    49
1    48
2    49
3    52
Name: label, dtype: int64

In [18]:
X_train, X_test, y_train, y_test = train_test_split(train_data, ascii_df, test_size=0.20, random_state=9261774)

In [19]:
X_train.shape,y_train.shape

((33600, 784), (33600,))

In [20]:
X_test.shape, y_test.shape

((8400, 784), (8400,))

In [ ]:
k_range = range(1,9)
scores={}
scores_list=[]
for k in k_range:
    knn = KNeighborsClassifier(n_neighbors = k)
    knn.fit(X_train, y_train)
    y_pred = knn.predict(X_test)
    scores[k] = metrics.accuracy_score(y_test, y_pred)
    scores_list.append(scores[k])
print('done scoring')
alert_me(5)

In [ ]:
# take a peek at the scores
scores

In [ ]:
# plot the scores against the range value
plt.plot(k_range, scores_list)
plt.show()

In [ ]:
# take the best score, and plop it into here
best_k=4

In [ ]:
knn = KNeighborsClassifier(n_neighbors = best_k)
knn.fit(X_train, y_train)

In [ ]:
# predict against the train data to find the residuals

In [ ]:
predicted = knn.predict(X_train)

In [ ]:
expected = y_train

In [ ]:
pd.DataFrame(y_train).head()

In [ ]:
pd.DataFrame(predicted).head()

In [ ]:
# plot the predicted vs the expected.  
# how well did the model perform
plt.plot([45,60],[45,60], color='red')
plt.title('Visualize the predicictions performance')
plt.xlabel('predicted')
plt.ylabel('expected/observed')
plt.scatter(predicted, expected)

In [ ]:
residuals = np.array(expected.values.ravel()) - predicted
plt.title('residuals')
plt.xlabel('expected/observed')
plt.ylabel('residuals')
plt.plot([45,60],[0,0], color='red')
plt.scatter(expected, residuals)
# a good residual plot does not have a pattern

In [ ]:
# now predict it against the test data, find our errors

In [ ]:
predicted = knn.predict(X_test)

In [ ]:
pd.DataFrame(predicted).head()

In [ ]:
expected = y_test

In [ ]:
pd.DataFrame(expected).head()

In [ ]:
# plot the predicted vs the expected.  
# how well did the model perform
plt.plot([45,60],[45,60], color='red')
plt.title('Visualize the predicictions performance')
plt.xlabel('predicted')
plt.ylabel('expected/observed')
plt.scatter(predicted, expected)

In [ ]:
errors = np.array(expected.values.ravel()) - predicted
plt.title('errors')
plt.xlabel('expected/observed')
plt.ylabel('errors')
plt.plot([45,60],[0,0], color='red')
plt.scatter(expected, errors)
# a good error plot does not have a pattern

In [ ]:
# lets predict the submission data

In [ ]:
test_data = pd.read_csv("excluded/test.csv")

In [ ]:
test_data.head()

In [ ]:
test_data = test_data/256

In [ ]:
test_data.head()

In [ ]:
predicted = knn.predict(test_data)

In [ ]:
pd.DataFrame(predicted).head()

In [ ]:
#tack the saved labes (y's) onto the preds into a data frame
pred_rf=pd.DataFrame(predicted, columns=['ascii'])

In [ ]:
pred_rf.head()

In [ ]:
submission_df = pd.DataFrame(pred_rf['ascii'].apply(ascii_to_char))
submission_df.head()

In [ ]:
submission_df.index += 1

In [ ]:
submission_df['ImageId'] = submission_df.index

In [ ]:
submission_df.columns=['Label','ImageId']
submission_df.head()

In [ ]:
submission_df[['ImageId','Label']].to_csv('excluded/knn-test-submission.csv',index=False)